<md-item-content>
  <div class="md-tile-left inset" hide-sm>
    <user-avatar></user-avatar>
  </div>
  <div class="md-tile-content">
    <h3>{{ contact.name }}</h3>
    <h4>{{ contact.email }}</h4>
    <h4>{{ contact.twitter }}</h4>
    <h4>{{ contact.phone }}</h4>
  </div>
  <div class="dialog-button-section">
    <md-button class="md-raised md-secondary"
      ng-click="showEdit()">Editar
    </md-button>
    <md-button class="md-raised md-warn"
      ng-click="remove()">Remover
    </md-button>
  </div>
</md-item-content>
<md-divider md-inset hide-sm ng-if="!$last"></md-divider>
<md-divider hide-gt-sm ng-if="!$last"></md-divider>
