<div layout="row" layout-padding layout-wrap layout-fill>
  <md-whiteframe class="md-whiteframe-1dp"
    flex
    layout="column"
    layout-align="top center">
    <div class="main-card welcome-message">
      Seja bem vindo ao Frontend Challenge!
    </div>
    <div class="main-card welcome-description">
      Aqui você poderá ter acesso a(s) seguinte(s) aplicações:
    </div>
    <div class="main-card buttons-container">
      <div ui-sref="{{item.link}}" class="app-button" ng-repeat="item in vm.menu">
        <i class="material-icons">{{item.icon}}</i>
        <br>
        <span>{{item.title}}</span>
      </div>
    </div>
  </md-whiteframe>
</div>
